" Plugins ---------------------------------------------------------
Plug 'machakann/vim-highlightedyank'
Plug 'tpope/vim-commentary'
Plug 'michaeljsmith/vim-indent-object'
Plug 'tpope/vim-surround'

set highlightedyank
map Q gq
set scrolloff=5
set NERDTree
set mini-ai
set surround
set showmode
set relativenumber
set clipboard+=unnamedplus
set ignorecase
set smartcase
set incsearch
set hlsearch

let mapleader = " "

" SPLITS -------------------------------------
nnoremap <C-h> <Action>(PrevSplitter)
nnoremap <C-l> <Action>(NextSplitter)
nnoremap <C-k> <Action>(PrevSplitter)
nnoremap <C-j> <Action>(NextSplitter)
nnoremap <leader>sv :vsplit<CR>
nnoremap <leader>sh :split<CR>
nnoremap <C-A-h> <Action>(ResizeSplitterLeft)
nnoremap <C-A-l> <Action>(ResizeSplitterRight)
nnoremap <C-A-k> <Action>(ResizeSplitterUp)
nnoremap <C-A-j> <Action>(ResizeSplitterDown)



map <leader>e :NERDTreeToggle<CR>

" FILE SEARCH / NAVIGATION --------------------
map <leader><leader> <action>(GotoFile)
map <leader>/ <action>(FindInPath)

map <C-/> <Action>(ActivateTerminalToolWindow)
map <leader>n <action>(NewScratchFile)

" Code Navigation --------------------
nmap <leader>gd <Action>(GotoDeclaration)
nmap <leader>gy <Action>(GotoTypeDeclaration)
nmap <leader>gi <Action>(GotoImplementation)
nmap <leader>gu <Action>(ShowUsages)
nmap <leader>gt <Action>(GotoTest)
nmap <leader>gf <Action>(Back)
nmap <leader>gb <Action>(Forward)
nnoremap <leader>i <Action>(ParameterInfo)
map <F5> <Action>(Run)
map <F8> <Action>(Stop)
map <leader>f <Action>ReformatCode

nmap <Left>  :echo "Use h to move!!"<CR>
nmap <Right> :echo "Use l to move!!"<CR>
nmap <Up>    :echo "Use k to move!!"<CR>
nmap <Down>  :echo "Use j to move!!"<CR>

" BUFFERS ------------------------------------
nnoremap ,1 :tabn 1<CR>
nnoremap ,2 :tabn 2<CR>
nnoremap ,3 :tabn 3<CR>
nnoremap ,4 :tabn 4<CR>
nnoremap ,5 :tabn 5<CR>
nnoremap ,6 :tabn 6<CR>
nnoremap ,7 :tabn 7<CR>
nnoremap ,8 :tabn 8<CR>
nnoremap ,9 :tabn 9<CR>
nnoremap ,0 :tabn 10<CR>

nnoremap ,<Tab> :tabnext<CR>
nnoremap ,<S-Tab> :tabprevious<CR>
map ,q <action>(CloseContent)
